<%- include('partials/header') -%>

<ul class="list-group">
  <%if(!products){ %>
  <h2>No Items in Cart</h2>
  <%} else { %>
  <div class="container">
    <div class="card shopping-cart" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Order Summary</h5>
        <% for(var i=0; i < products.length; i++) {%>
        <span><%= products[i].qty %> </span>
        <span><%= products[i].item.name %></span>
        <span class="label label-success">$<%= products[i].price %></span>
        <div>
          <% } %>
          <span><strong>Subtotal</strong></span>
          <% if (totalPrice !== undefined) { %>
          <strong>Total: $<%= totalPrice %></strong>
          <% } %>
        </div>
        <div>
          <button type="button" class="btn btn-success">Checkout</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>
