<%- include('partials/header') -%>
  
  <div class="flex-container vendors">

  <div class="box1">
    <h1>Pickup Nearby</h1>
    <ul class="vendor-cards flex-container">
      <% for(var i=0; i<vendors.length; i++) {%>
        <div class="card" style="width: 22rem;">
          <a href="/vendor/<%= vendors[i]._id%>">
          <img class="card-img-top" src="<%= vendors[i].imagePath%>" alt="Card image cap">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= vendors[i].name%></h5>
            <p class="card-text">5-15 min - 0.5km</p>
          </div>
        </div>
      <% } %>
      </ul>     
  </div>
  <div class="box2 map">
     <div>
       <img src="./imgs/map.png" />
     </div>
    </div> 
 </div>
<%- include('partials/footer') -%>