<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div>
      <h2><%= vendor.name %></h2>
      <p><%= vendor.location %></p>
      <ul class="row list-unstyled">
        <% for(var i=0; i<products.length; i++) {%>
          <%if(products[i].vendor_id.includes(String(vendor._id))){ %>
            <div class="card" style="width: 18rem;">
              <a href="/vendor/add-to-cart/<%= products[i]._id%>-<%= String(vendor._id)%>">
              <!-- <a href="/vendor/add-to-cart?id=<%= products[i]._id%>"> -->
            <img class="card-img-top" src="<%= products[i].imagePath%>" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= products[i].name%></h5>
              <h5 class="card-title"><%= products[i].price%></h5>
            </a>
            </div>
          </div>
          <%}%>
        <% } %>
        </ul>  

      <div class="row justify-content-between"></div>
    </div>
    <!-- <div class="col-3 mt-5">
      <p><%= vendor.location %></p>
    </div> -->
    <div class="col-6 mt-5">
      <!-- <a class="btn btn-primary" href="/profile">Return to Profile</a> -->
      <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
